<title>My Application</title>
<h1>Test Page</h1>
Result is {{result}}

<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="10"> </textarea>
    <br>
    <input type="submit">
</form>